@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: none;
  -epub-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
body {
  width: 100%;
  *zoom: 1;
  zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
GRID
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #284a60;
  border-top-color: #315b76;
  border-left-color: #315b76;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #34607d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b6e8f), to(#34607d));
  background-image: -webkit-linear-gradient(top, #3b6e8f, #34607d);
  background-image: -moz-linear-gradient(top, #3b6e8f, #34607d);
  background-image: -o-linear-gradient(top, #3b6e8f, #34607d);
  background-image: linear-gradient(to bottom, #3b6e8f, #34607d);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #284a60;
  border-top-color: #1d3647;
  border-left-color: #1d3647;
  background-color: #2c526b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34607d), to(#2c526b));
  background-image: -webkit-linear-gradient(top, #34607d, #2c526b);
  background-image: -moz-linear-gradient(top, #34607d, #2c526b);
  background-image: -o-linear-gradient(top, #34607d, #2c526b);
  background-image: linear-gradient(to bottom, #34607d, #2c526b);
}
.button:active,
.button:visited:active {
  background-color: #3b6e8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34607d), to(#3b6e8f));
  background-image: -webkit-linear-gradient(top, #34607d, #3b6e8f);
  background-image: -moz-linear-gradient(top, #34607d, #3b6e8f);
  background-image: -o-linear-gradient(top, #34607d, #3b6e8f);
  background-image: linear-gradient(to bottom, #34607d, #3b6e8f);
}
.blue-button,
.blue-button:visited {
  border-color: #2c526b;
  text-shadow: 0 1px 1px #2c526b;
  background-color: #34607d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b6e8f), to(#34607d));
  background-image: -webkit-linear-gradient(top, #3b6e8f, #34607d);
  background-image: -moz-linear-gradient(top, #3b6e8f, #34607d);
  background-image: -o-linear-gradient(top, #3b6e8f, #34607d);
  background-image: linear-gradient(to bottom, #3b6e8f, #34607d);
  -webkit-box-shadow: inset 0 0 3px #5f98bd;
  -moz-box-shadow: inset 0 0 3px #5f98bd;
  box-shadow: inset 0 0 3px #5f98bd;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #254459;
  background-color: #2c526b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#356381), to(#2c526b));
  background-image: -webkit-linear-gradient(top, #356381, #2c526b);
  background-image: -moz-linear-gradient(top, #356381, #2c526b);
  background-image: -o-linear-gradient(top, #356381, #2c526b);
  background-image: linear-gradient(to bottom, #356381, #2c526b);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #3b6e8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34607d), to(#3b6e8f));
  background-image: -webkit-linear-gradient(top, #34607d, #3b6e8f);
  background-image: -moz-linear-gradient(top, #34607d, #3b6e8f);
  background-image: -o-linear-gradient(top, #34607d, #3b6e8f);
  background-image: linear-gradient(to bottom, #34607d, #3b6e8f);
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */
}
body {
  font-family: Palatino, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.2;
  color: #113355;
  background: #aeaca5;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto;
}
.wide-wrap {
  width: 100%;
}
#container {
  position: relative;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #3b6e8f;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #2e556f;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  margin-bottom: .25em;
  color: #000000;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-family: Palatino, Times New Roman, Times, serif;
  font-size: 2em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 1.1em;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 1em;
}
/*********************
06. HEADER STYLES
*********************/
.header #inner-header {
  background: #ffffff;
}
.header #logo a {
  display: block;
  color: #ffffff;
}
.header #logo img {
  height: 42px;
}
.header nav a.nav-toggle {
  float: right;
}
#SliderWrap {
  display: none;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  position: relative;
  display: none;
  border: 1px solid #ccc;
  border-bottom: 0;
  z-index: 100;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
.nav li {
  margin-left: 5px;
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
}
.nav li a {
  display: block;
  text-decoration: none;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  font-size: .8em;
  padding: 2px 5px;
  background-color: #ffffff;
  color: #000000;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
}
/* .top-nav is the original menu */
.js .top-nav {
  display: none;
}
.js .slicknav_menu {
  padding: 0;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  display: block;
  background: none;
  z-index: 100;
  position: absolute;
  width: 100%;
}
.js .slicknav_menu .slicknav_btn {
  position: relative;
  top: 3px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #3b6e8f;
}
.js .slicknav_menu .slicknav_btn .slicknav_menutxt {
  position: relative;
  top: -1px;
  font-weight: lighter;
}
.js .slicknav_menu .slicknav_nav {
  background: #96938a;
}
.js .slicknav_menu .slicknav_nav ul {
  margin: 0;
}
.js .slicknav_menu .slicknav_nav ul li {
  border-top: 1px solid #ffffff;
}
.js .slicknav_menu .slicknav_nav ul li a {
  position: relative;
  padding: 0.75em;
  margin: 0;
  color: #ffffff;
}
.js .slicknav_menu .slicknav_nav ul li a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.js .slicknav_menu .slicknav_nav ul li a.slicknav_item {
  padding: 0.75em;
  margin: 0;
}
.js .slicknav_menu .slicknav_nav ul li a.slicknav_item a {
  padding: 0;
}
.js .slicknav_menu .slicknav_nav ul li ul {
  background: #7d7a70;
}
.js .slicknav_menu .slicknav_nav ul li ul a {
  padding-left: 2em;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
  position: relative;
  padding: 0;
  background: #ece8e4;
}
#content .content-image {
  display: none;
}
#content #inner-content {
  padding: 2.2em 0;
}
#content .article-header {
  position: relative;
  margin-bottom: 1em;
}
#content .article-header h1 {
  font-family: Palatino, Times New Roman, Times, serif;
}
.midpage-wrapper {
  clear: both;
  padding: 2em 0;
}
.midpage-notice {
  min-height: 1em;
}
.midpage-notice h3 {
  margin: 0.75em 0 1.5em 0;
}
/* end .hentry */
.single-title,
.page-title {
  font-size: 1.5em;
  margin-top: 0;
}
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999;
}
/* pagination */
nav.pagination ul.page-numbers li {
  display: inline-block;
}
nav.pagination ul.page-numbers li a {
  display: block;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  padding: 4px 5px 2px 5px;
  margin: 0.25em;
  background: #ffffff;
}
nav.pagination ul.page-numbers li a:hover {
  background: #aeaca5;
}
nav.pagination ul.page-numbers li span.current {
  display: block;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  padding: 4px 8px 1px 8px;
  margin: 0.25em;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  background: #aeaca5;
}
.action-block {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: solid 1px #aeaca5;
}
.action-block .action-block-title {
  color: #000000;
}
.action-block:last-child {
  margin-bottom: 0;
}
.featured {
  background: #669e7f;
  color: #ffffff;
  padding: .1em 1.2em;
  border-bottom: 5px solid #c2ab2f;
  font-size: 1.2em;
}
.featured-image img {
  width: 100%;
}
a.action-link {
  display: block;
  width: 100%;
  border-bottom: solid #ffffff 5px;
  margin-bottom: 1em;
  background-image: url(../images/list-item-big-white.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  color: #ffffff;
  text-decoration: none;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
a.action-link .text {
  background-repeat: no-repeat;
  background-position: left 15px center;
  float: left;
  padding: 0.5em 0.5em 0.5em 50px;
}
a.action-link .text .sub_text {
  font-size: 0.75em;
}
a.action-link .text.no-icon {
  padding: 0.5em;
}
a.action-link .text.no-icon .main_text {
  position: relative;
  top: 1px;
}
a.action-link:hover {
  color: #ffffff;
}
a.action-link:active {
  position: relative;
  top: 1px;
}
/* entry content */
a.action-link-primary {
  background-color: #c86432;
}
a.action-link-primary:hover {
  background-color: #9f5028;
}
a.action-link-secondary {
  background-color: #96938a;
}
a.action-link-secondary:hover {
  background-color: #7d7a70;
}
a.action-link-home {
  clear: both;
  background-color: #96938a;
}
a.action-link-home:hover {
  background-color: #7d7a70;
}
.entry-content {
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
}
.entry-content p {
  font-size: .9em;
  line-height: 1.4em;
  margin-top: 0.25em;
}
.entry-content ul li,
.entry-content ol li {
  font-size: .9em;
}
.entry-content ul {
  list-style-image: url(../images/list-item.png);
  padding-left: 2em;
}
.entry-content ul li {
  padding: .25em 0;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 0 0;
  max-width: 100%;
  height: auto;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  text-align: center;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */
}
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
.sidebar {
  display: none;
}
.widget ul li {
  /* deep nesting */
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  color: #000000;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: lighter;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer #inner-footer {
  font-size: .9em;
  margin-bottom: 25px;
}
.footer nav ul.nav {
  height: auto;
  display: block;
  border: none;
}
.footer nav ul.nav li {
  margin-left: 0px;
  float: none;
}
.footer nav ul.nav li a {
  display: inline;
  color: #eee;
  background: transparent;
  padding: 5px;
  padding-left: 0px;
  font-size: 1em;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
.su-divider {
  height: 1px !important;
  margin: 2em auto !important;
  width: 20% !important;
  background: #aeaca5 !important;
}
.back-to-list {
  margin-top: 2em;
}
/**
 * NEWSLETTER SIGNUP
 */
#mc_embed_signup {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
#mc_embed_signup .indicates-required {
  float: right;
  font-size: .8em;
}
#mc_embed_signup .mc-field-group {
  clear: both;
}
#mc_embed_signup input[type="email"] {
  border: none;
  padding: 5px 7px 3px 7px;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  width: 100%;
}
#mc_embed_signup #mc-embedded-subscribe {
  width: 100%;
  border: none;
  background-color: #3b6e8f;
  background-image: url(../images/list-item-med-white.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 5px 7px 3px 7px;
  border-radius: 0;
  margin-top: 0.5em;
  text-align: left;
}
/**
 * SEARCH FORM
 */
#searchform {
  display: none;
  padding-bottom: 2em;
}
#searchform input {
  border: none;
  border-bottom: 5px solid #e6e6e6;
  background: #f2f2f2;
  padding: 4px 6px 2px 6px;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
#searchform input#s {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin: 0;
}
#searchform input#searchsubmit {
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
  margin: 0;
  margin-left: 5px;
  background: url('../images/search.png') no-repeat center center #f2f2f2;
}
#searchform label {
  display: block;
}
.menu-additional-header-menu-container {
  display: none;
}
.menu-additional-header-menu-container ul {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.menu-additional-header-menu-container ul li {
  float: left;
  margin-right: 5px;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
.menu-additional-header-menu-container ul li:first-child a {
  border-bottom: 5px solid #c86432;
}
.menu-additional-header-menu-container ul li a {
  display: block;
  border: none;
  border-bottom: 5px solid #c86432;
  color: #3b6e8f;
  background: #f2f2f2;
  padding: 4px 6px 2px 6px;
  text-decoration: none;
}
.menu-additional-header-menu-container ul li a:hover {
  border-bottom: 5px solid #cccccc;
  background: #e6e6e6;
}
/**
 * STAFF PAGE
 */
.staff-member {
  position: relative;
  padding: .5em 0;
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.staff-member h5 {
  margin: 0;
  line-height: 1.1em;
}
.staff-member .wp-post-image {
  border: 5px solid #aeaca5;
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-right: 0.5em;
}
.staff-member .text {
  position: relative;
  left: 1px;
}
.staff-member .desc {
  font-size: .75em;
}
.type-staff .wp-post-image,
.type-board .wp-post-image {
  border: 5px solid #aeaca5;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  margin: 0.5em 1em 0.5em 0;
}
/**
 * PUBLISHED ARTICLES
 */
.published-article {
  border-bottom: 1px solid #aeaca5;
  padding-bottom: 1em;
}
.published-article h4 {
  margin-bottom: 0;
}
.published-article .desc {
  font-size: .8em;
}
.published-article .date {
  font-size: .8em;
  text-transform: uppercase;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  color: #888888;
}
.published-article .excerpt {
  margin: .5em 0;
}
.published-article .excerpt p {
  margin: 0;
}
/**
 * Events
 */
.event-item {
  border-bottom: 1px solid #aeaca5;
  padding-bottom: 1em;
}
.event-item h4 {
  margin-bottom: 0;
}
.event-item .desc {
  font-size: .8em;
}
.event-item .date {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
.event-item .location {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
}
.event-item .excerpt {
  margin: .5em 0;
}
.event-item .excerpt p {
  margin: 0;
}
.event-item .actions a {
  margin-right: 1em;
}
.event-single .desc {
  font-size: .8em;
}
.event-single .date {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.event-single .location {
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.event-single .excerpt {
  margin: .5em 0;
}
.event-single .excerpt p {
  margin: 0;
}
.event-single .actions a {
  margin-right: 1em;
}
/**
 * PODCASTS
 */
.podcasts {
  border-bottom: 1px solid #aeaca5;
  padding-bottom: 1em;
}
.podcasts h4 {
  margin-bottom: 0;
}
.podcasts .desc {
  font-size: .8em;
}
.podcasts .date {
  font-size: .8em;
  text-transform: uppercase;
  font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
  color: #888888;
}
.podcasts .excerpt {
  margin: .5em 0;
}
.podcasts .player {
  margin: .5em 0;
}
/**
 * LEGAL RESOURCES
 */
.law-practice-library h3 {
  border-bottom: 1px solid #aeaca5;
}
.law-practice-library .category-wrap {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-top: 1.5em;
}
.law-practice-library .sub-category-wrap {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
}
.law-practice-library .legal-resources-wrap {
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
}
.law-practice-library .legal-resource {
  padding-bottom: .75em;
  margin-left: 2em;
}
.law-practice-library .legal-resource h5 {
  margin-bottom: 0.25em;
  margin-top: 1em;
}
.law-practice-library .legal-resource .desc {
  font-size: .8em;
}
.law-practice-library .legal-resource .excerpt p {
  margin: .5em 0;
  font-size: .8em;
}
.law-practice-library #resource_category_select {
  width: 100%;
}
/**
 * HOME PAGE
 */
.widget-homepage-wrap {
  padding: 0;
  margin-bottom: 3.08%;
}
.widget-homepage-wrap .widget-homepage {
  padding: 0.5em .75em;
  background: #ffffff;
  border-bottom: 5px solid #aeaca5;
}
.widget-homepage-wrap .widget-homepage h5 {
  padding: .5em 0em;
  margin: 0 0 0.5em 0;
  font-weight: bold;
  border-bottom: 1px solid #aeaca5;
}
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
  .header #logo {
    padding: 5px 0px;
  }
  /*********************
NAVIGATION STYLES
*********************/
  nav a.nav-toggle {
    display: none;
  }
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .menu ul li {
    /*
				plan your menus and drop-downs wisely.
				*/
  }
  .menu ul li a {
    /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
  }
  /* end .menu */
  /*********************
POSTS & CONTENT STYLES
*********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  .staff-member {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
    height: 265px;
  }
  .staff-member .wp-post-image {
    float: none;
    width: 100%;
  }
  /*********************
FOOTER STYLES
*********************/
  /*
check your menus here. do they look good?
do they need tweaking?
*/
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap {
    max-width: 960px;
  }
  /*********************
HEADER STYLES
*********************/
  #inner-header {
    border-bottom: 1px solid #fff;
    background: rgba(255, 255, 255, 0.8);
  }
  body.home .header {
    height: 535px;
    margin-bottom: 10px;
    background: #ece8e4;
  }
  .header {
    position: relative;
  }
  .header #logo {
    padding: 10px 0px;
  }
  .header #logo a {
    width: 33%;
  }
  .header #logo img {
    height: 80px;
  }
  .header .top-wrap {
    position: relative;
  }
  .header .search,
  .header .menu-additional-header-menu-container {
    float: right;
  }
  .header .menu-additional-header-menu-container {
    display: block;
  }
  #SliderWrap {
    display: block;
    position: absolute;
    top: 106px;
    left: 0;
    width: 100%;
    height: 400px;
    background: #000000;
    z-index: 90;
  }
  #SliderWrap #Slider {
    -ms-touch-action: none;
    overflow: auto;
    position: relative;
    touch-action: none;
    width: 100%;
    height: 100%;
  }
  #SliderWrap #Slider .as-slide-inner {
    width: 100%;
    height: 100%;
  }
  #SliderWrap #Slider .slider-item {
    width: 100%;
    height: 100%;
  }
  #SliderWrap #Slider .slider-item .slider-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  #SliderWrap #Slider .slider-item .slider-text {
    position: relative;
    top: -300px;
    padding: 0em;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Myriad Pro", Lato, Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 5px #000000;
  }
  #SliderWrap #Slider .slider-item .slider-text .slider-maintext {
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
    font-size: 2em;
    color: #ffffff;
  }
  #SliderWrap #Slider .slider-item .slider-text .slider-subtext {
    font-size: 1em;
    color: #ffffff;
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 10px;
  }
  #SliderWrap #Slider .slider-item .slider-link {
    clear: both;
    padding: 0px;
    margin-top: 10px;
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
    text-shadow: none;
    box-shadow: 0px 0px 5px #000000;
  }
  #SliderWrap #Slider .slider-item .slider-link a.action-link {
    margin: 0;
  }
  #SliderWrap .as-nav {
    position: relative;
    top: 5px;
    text-align: center;
    z-index: 100;
  }
  #SliderWrap .as-nav a {
    background: url(../images/bullets.png) no-repeat;
    height: 10px;
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 10px;
  }
  #SliderWrap .as-nav a.as-active {
    background-position: 0 -10px;
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    display: block;
    height: 30px;
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav ul {
    margin: 0;
    float: right;
  }
  .nav li {
    float: left;
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */
  }
  .nav li a {
    border-bottom: 0;
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
  }
  .nav li a:hover,
  .nav li a:focus {
    background-color: #dedede;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border-top: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    margin-left: 0;
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    border-right: 0;
    display: block;
    width: 180px;
  }
  .nav li ul.sub-menu li a:before,
  .nav li ul.children li a:before {
    content: "\25B8\00a0";
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    overflow: visible;
    visibility: visible;
  }
  /* end .nav */
  .js .top-nav {
    display: block;
  }
  .js .slicknav_menu {
    display: none;
  }
  #main {
    display: inline;
    float: left;
    width: 72.91666667%;
    margin: 0 1.04166667%;
  }
  #content {
    position: relative;
    top: -30px;
  }
  #content .content-image {
    display: block;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-image: no-repeat;
  }
  #content #inner-content {
    position: relative;
  }
  .action-block {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    padding: 0 1em;
  }
  .action-block:last-child {
    border-right: none;
  }
  .action-block .action-block-content {
    min-height: 120px;
  }
  .action-block .action-block-content p {
    padding: 1em 0;
    margin: 0;
  }
  .single-title,
  .page-title {
    font-size: 1.5em;
    text-align: left;
  }
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
    margin-top: 10px;
  }
  .widgettitle {
    border-bottom: 1px solid #aeaca5;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin-bottom: 2.2em;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  #searchform {
    display: block;
  }
  /* text widget */
  .staff-member {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
    height: 265px;
  }
  /**
 * SUBPAGE MENU
 */
  .dynamicSubpageWidget ul li {
    margin: 0;
  }
  .dynamicSubpageWidget ul li a {
    text-decoration: none;
    display: block;
    font-size: .85em;
    padding: 5px;
  }
  .dynamicSubpageWidget ul li a:hover {
    background: #ffffff;
  }
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
  .widget-homepage-wrap {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 3.08%;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
